.main {
}
.button-nav {
  position: fixed;
  top: 60px;
  left: 24px;
  button {
    float: left;
    clear: both;
    margin-bottom: 2px;
  }
}

.result-board {
  border: 1px solid gray;
  width: 400px;
  position: fixed;
  top: 20px;
  right: 100px;
  padding: 12px;
  background: aliceblue;

  .line {
    width: 100%;
    float: left;
    color: #264D73;
    font-size: 2rem;
  }

  button {
    margin-top: 10px;
  }
}

.submit-panel {
  border: 1px solid gray;
  width: 400px;
  position: fixed;
  top: 20px;
  right: 100px;
}

.question-line {
  width: 600px;
  float: left;
  clear: left;
  margin-bottom: 10px;

  .question {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 590px;
    position: relative;
    img {
      position: absolute;
      right: 10px;
      top: 14px;
      width: 24px;
      height: 24px;
      display: inline-block;
    }
    .addition-question{
      width: 250px;
      display: inline-block;
      position: relative;
    }
    .addition-question-line {
      width: 220px;
      float: right;
      text-align: right;
      padding-bottom: 2px;
      letter-spacing: 6px;
      font-size: 20px;
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input {
        text-align: right;
        font-size: 20px;
        letter-spacing: 6px;
        margin-right: -3px;
      }
      &.separate {
        width: 52%;
        margin: 5px 0;
        border-bottom: solid 1px gray;
      }

      &.operator {
        position: absolute;
        top: 12px;
        left: -102px;
        font-size: 24px;
      }
      &.equal {
        position: absolute;
        top: 42px;
        left: -102px;
        font-size: 24px;
      }

    }

    .question-sequence {
      width: 30px;
      font-weight: bold;
      display: inline-block;
    }
    .pad1 {
      width: 150px;
      display: inline-block;
      line-height: 38px;
    }
    input {
      margin-left: 20px;
    }

    .question-option {
      margin-left: 30px;
      width: 100px;
      display: inline-block;
    }
    .question-label {
      line-height: 33px;
    }
  }

}
.footer {
  display: inline-block;
  margin-bottom: 50px;
  float: left;
  width: 100%;
}
