<div class="main">
  <div class="button-nav">
    <button mat-raised-button color="primary" routerLink="/" class="go-home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="goUp()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="goDown()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>


  <div class="result-board">
    <span class="line">Điểm: {{getPoint()}}/{{POINT_TOTAL}}</span>
    <span class="line">Thời gian làm bài: {{TAKE_TIME}}</span>
    <span class="line">Thời gian còn lại: {{REMAINING_TIME}}</span>
    <button mat-raised-button color="primary" (click)="submitExam()">Nộp bài</button>
  </div>

  <div class="question-line">
    <h2>Chào {{user.firstName}} {{user.lastName}}</h2>
    <h2>SBD: {{user.sbd}}</h2>
  </div>

  <div class="question-line">
    <h2>Hướng dẫn làm bài:</h2>
    <p>
      Tính diện tích hoặc chu vi của hình chữ nhật hoặc hình vuông
      mỗi câu trả lời đúng sẽ được tăng lên 1 điểm
      Khi làm bài xong nhấn nút nộp bài
    </p>
  </div>

  <div class="question-line" *ngFor="let fr of data; let idx = index" >
    <div class="question">
      <span class="question-sequence">{{idx + 1}}. </span>
      <span class="question-label">
        Tính {{fr.expressType.label}} của {{fr.sharp.label}} sau, biết {{fr.sharp.type == 'HV' ? '1 ' : '2 '}} cạnh là {{fr.d1}} cm
        {{fr.sharp.type == 'HV' ? '' : 'và ' + fr.d2 + ' cm'}}

        <img *ngIf="fr.checked && fr.isTrue()" src="/assets/images/right.png" [alt]="">
        <img *ngIf="fr.checked && !fr.isTrue()" src="/assets/images/wrong.png" [alt]="">
      </span>
      <br>
      <span class="question-option">
      <input type="radio" name="{{fr.group}}" [disabled]="fr.checked"
             (click)="fr.makeAnswer(fr.option1)">{{fr.option1}}</span>
      <span class="question-option">
      <input type="radio" name="{{fr.group}}" [disabled]="fr.checked"
             (click)="fr.makeAnswer(fr.option2)">{{fr.option2}}</span>
      <span class="question-option">
      <input type="radio" name="{{fr.group}}" [disabled]="fr.checked"
             (click)="fr.makeAnswer(fr.option3)">{{fr.option3}}</span>
      <span  class="question-option">
      <input type="radio" name="{{fr.group}}" [disabled]="fr.checked"
             (click)="fr.makeAnswer(fr.option4)">{{fr.option4}}</span>

    </div>
  </div>

</div>

<div class="footer"></div>

