mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  margin-bottom: 16px;

  .left, .center, .right {
    display: flex;
    flex: 1;
  }

  .left {
    justify-content: flex-start;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;
  }

  mat-select {
    text-align: right;
    font-size: 14px;
  }
}

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}
