mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.signup-router-link {
  text-decoration: none;
  color: green;
}

form {
  margin-bottom: 10px;
}
