<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Đăng nhập</h2>
      <mat-error *ngIf="!loginValid">
        Số điện thoại và mật khẩu là bắt buộc
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Số điện thoại" [(ngModel)]="username" name="username" required>
        <mat-error>
          Vui lòng nhập số điện thoại
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Mật khẩu" [(ngModel)]="password" name="password" required>
        <mat-error>
          Vui lòng nhập mật khẩu
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <a class="signup-router-link" href="#" routerLink="/signup">Tạo tài khoản mới</a>
  </mat-card-content>
</mat-card>
