<div class="main">
  <button mat-raised-button color="primary" routerLink="/" class="go-home" >
    <mat-icon>home</mat-icon></button>

  <div class="result-board">
    <span class="line">Điểm: {{POINTS}}/{{POINT_TOTAL}}</span>
    <span class="line">Thời gian làm bài: {{TAKE_TIME}}</span>
    <span class="line">Thời gian còn lại: {{REMAINING_TIME}}</span>
    <button mat-raised-button color="primary" (click)="submit()">Nộp bài</button>
  </div>

  <div class="question-line">
    <h2>Chào {{user.firstName}} {{user.lastName}}</h2>
    <h2>SBD: {{user.sbd}}</h2>
  </div>

  <div class="question-line">
    <h2>Hướng dẫn làm bài:</h2>
    <p>
      Tính tổng hoặc hiệu 2 số
      mỗi câu trả lời đúng sẽ được tăng lên 1 điểm
      Khi làm bài xong nhấn nút nộp bài
    </p>
  </div>
  <div class="question-line" *ngFor="let i of DATA; let idx = index">
    <div class="question">
      <span class="question-sequence">{{idx}}. </span>
      <div class="addition-question">
        <span class="addition-question-line num">{{i.n1}}</span>
        <span class="addition-question-line num">{{i.n2}}</span>
        <span class="addition-question-line separate"></span>
        <span class="addition-question-line operator">{{i.type === 'C' ? '+' : '-'}}</span>
        <span class="addition-question-line equal">=</span>
        <span class="addition-question-line answer">
          <input [disabled]="DONE"
                 style="max-width: 120px; background: transparent" type="number"
                 #el id="input1"
                 [(ngModel)]="i.answer" (change)="change(i)"></span>
      </div>

      <img *ngIf="i.result==='T'" src="/assets/images/right.png" [alt]="">
      <img *ngIf="i.result==='F'" src="/assets/images/wrong.png" [alt]="">
    </div>
  </div>
</div>
<div class="footer"></div>
