<div class="main">
  <button mat-raised-button color="primary" routerLink="/" class="go-home" >
    <mat-icon>home</mat-icon></button>
  <div class="result-board">
    <span class="line">Điểm: {{POINTS}}/{{POINT_TOTAL}}</span>
    <span class="line">Thời gian làm bài: {{TAKE_TIME}}</span>
    <span class="line">Thời gian còn lại: {{REMAINING_TIME}}</span>
    <button mat-raised-button color="primary" (click)="submit()">Nộp bài</button>
  </div>

  <div class="question-line" >
    <h2>Chào {{user.firstName}} {{user.lastName}}</h2>
    <h2>SBD: {{user.sbd}}</h2>
  </div>

  <div class="question-line" >
    <h2>Hướng dẫn làm bài:</h2>
    <p>
      Đổi đơn vị độ dài, khối lượng, diện tích.
      mỗi câu trả lời đúng sẽ được tăng lên 1 điểm
      Khi làm bài xong nhấn nút nộp bài
    </p>
  </div>
  <div class="question-line" *ngFor="let i of DATA; let idx = index" >
    <div class="question">
      <span class="question-sequence">{{idx}}. </span>
      <span class="pad1">Đổi từ {{i.l1_qty}}{{i.l1_unit.code}}
        <span class="" *ngIf="i.l2_qty != 0">{{i.l2_qty}}{{i.l2_unit.code}}</span></span>
       =
      <input [disabled]="DONE"
             style="max-width: 100px; background: transparent" type="number"
             [(ngModel)]="i.l3_qty" (change)="change(i)"> {{i.l2_unit.code}}
      <img *ngIf="i.result==='T'" src="/assets/images/right.png" [alt]="">
      <img *ngIf="i.result==='F'"  src="/assets/images/wrong.png" [alt]="">
    </div>
  </div>
</div>
<div class="footer"></div>
