.main {
}

.go-home {
  position: fixed;
  top: 60px;
  left: 24px;
}
.result-board {
  border: 1px solid gray;
  width: 400px;
  position: fixed;
  top: 20px;
  right: 100px;
  padding: 12px;
  background: aliceblue;

  .line {
    width: 100%;
    float: left;
    color: #264D73;
    font-size: 2rem;
  }

  button {
    margin-top: 10px;
  }
}

.submit-panel {
  border: 1px solid gray;
  width: 400px;
  position: fixed;
  top: 20px;
  right: 100px;
}

.question-line {
  width: 500px;
  float: left;
  clear: left;

  .question {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    width: 500px;
    .question-sequence {
      width: 30px;
      font-weight: bold;
      display: inline-block;
    }
    .pad1 {
      width: 150px;
      display: inline-block;
      line-height: 38px;
    }
    input {
      margin-left: 20px;
    }

    img {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-left: 64px;
    }
  }

}
.footer {
  display: inline-block;
  margin-bottom: 50px;
  float: left;
  width: 100%;
}
