.examination-nav-item {
  border-bottom: 1px solid grey;
  text-decoration: none;
  padding: 16px 5px 0 5px;
  display: inline-block;
  width: 166px;
  span {
    line-height: 10px;
  }
}

.student-report-table {
  width: 100%;
  td, th {
    width: 25%;
  }
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.exam-type-link {
  width: 20%;
  max-width: 200px;
  float: left;
}

.mat-elevation-z8 {
  width: 80%;
  max-width: 10000px;
  float: right;
  h1:first-child {
    width: 100%;
    text-align: center;
  }
}

