<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="exam-type-link">
  <a class="examination-nav-item" href="#" routerLink="/unit-conversation">
    <span>Đổi đơn vị</span>
  </a><br>
  <a class="examination-nav-item" href="#" routerLink="/addition">
    <span>Toán cộng</span>
  </a><br>
  <a class="examination-nav-item" href="#" routerLink="/perimeter_area">
    <span>Diện tích, Chu vi</span>
  </a>
</div>

<div class="mat-elevation-z8">
  <h1>Tổng kết làm bài</h1>
  <table mat-table [dataSource]="dataSource" class="student-report-table">
    <!-- Position Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Ngày </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Tên </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="point">
      <th mat-header-cell *matHeaderCellDef> Điểm </th>
      <td mat-cell *matCellDef="let element"> {{element.point}}/{{element.totalPoint}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="takeTime">
      <th mat-header-cell *matHeaderCellDef> Thời gian </th>
      <td mat-cell *matCellDef="let element"> {{element.takeTime}}/{{element.totalTime}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" #paginator
                 [pageSize]="PageSize"
                 [pageIndex]="PageNum"
                 [length]="TotalRecord"
                (page)="page($event)"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home1</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad1</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new1</mat-icon>
    Login
  </button>
  <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app1</mat-icon>
    Logout
  </button>
</mat-menu>
