.example-radio-button {
  margin-left: 7px;
}

mat-grid-tile {
  background: #fafafa;
}

.width-50 {
  width: 49%;
}

.ml-1 {
  margin-left: 1%;
}

.ml-2 {
  margin-left: 2%;
}

.width-100 {
  width: 100%;
}

.width-25 {
  width: 25%;
}

.signup-mat-form-field{
  margin-bottom: 1.75em;
}

form {
  width: 600px;
  margin: 0 auto;
}

.signup-header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 2px;
}
