
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-card>
    <mat-card-content>
      <p class="signup-header">Đăng ký người dùng mới</p>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field" >
        <mat-error *ngIf="hasError('firstName', 'required')">Họ bắt buộc nhập</mat-error>
        <mat-error *ngIf="hasError('firstName', 'minLength')">Độ dài lớn hơn 2 ký tự</mat-error>
        <mat-error *ngIf="hasError('firstName', 'maxLength')">Độ dài nhỏ hơn 100 ký tự</mat-error>
        <mat-label>Họ</mat-label>
        <input matInput name="firstName" formControlName="firstName" placeholder="Ví dụ: Vũ Văn">
      </mat-form-field>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field">
        <mat-error *ngIf="hasError('lastName', 'required')">Tên bắt buộc nhập</mat-error>
        <mat-error *ngIf="hasError('lastName', 'minLength')">Độ dài lớn hơn 2 ký tự</mat-error>
        <mat-error *ngIf="hasError('lastName', 'maxLength')">Độ dài nhỏ hơn 100 ký tự</mat-error>
        <mat-label>Tên</mat-label>
        <input matInput name="lastName" formControlName="lastName" placeholder="Ví dụ: Tùng">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field">
        <mat-error *ngIf="hasError('email', 'required')">Thư điện bắt buộc nhập</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Email không hợp lệ</mat-error>
        <mat-label>Thư điện tử</mat-label>
        <input [email]="true" matInput formControlName="email" name="email"
               placeholder="Ví dụ. pat@example.com">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field">
        <mat-error *ngIf="hasError('phone', 'required')">Số điện thoại bắt buộc nhập</mat-error>
        <mat-error *ngIf="hasError('phone', 'pattern')">Số điện thoại không hợp lệ</mat-error>
        <mat-label>Số điện thoại</mat-label>
        <input matInput name="phone" formControlName="phone" placeholder="Ví dụ. 098221124">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field">
        <mat-error *ngIf="hasError('username', 'required')">Tên đăng nhập bắt buộc</mat-error>
        <mat-error *ngIf="hasError('username', 'minLength')">Tên đăng nhập lớn hơn 3 ký tự</mat-error>
        <mat-error *ngIf="hasError('username', 'maxLength')">Tên đăng nhập nhỏ hơn 200 ký tự</mat-error>
        <mat-label>Tên đăng nhập</mat-label>
        <input matInput formControlName="username" name="username">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field">
        <mat-error *ngIf="hasError('password', 'minLength')">Mật khẩu phải lơn hơn 6 ký tự</mat-error>
        <mat-error *ngIf="hasError('password', 'maxLength')">Mật khẩu phải nhỏ hơn 200 ký tự</mat-error>
        <mat-error *ngIf="hasError('password', 'required')">Mật khẩu bắt buộc nhập</mat-error>
        <mat-label>Mật khẩu</mat-label>
        <input matInput name="password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ẩn'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="width-100 signup-mat-form-field">
        <mat-error *ngIf="hasError('confirmPassword', 'matching')">Mật khẩu chưa khớp</mat-error>
        <mat-label>Nhắc lại mật khẩu</mat-label>
        <input matInput name="confirmPassword" [type]="hide ? 'password' : 'text'"
               formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ẩn'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <label id="example-radio-group-label1">Giới tính: </label>
      <br><br>
      <mat-radio-group aria-label="Select an option" formControlName="gender" class="signup-mat-form-field">
        <mat-radio-button value="M">Nam</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="F">Nữ</mat-radio-button>
      </mat-radio-group>
      <br><br>
      <label id="example-radio-group-label2">Ngày sinh: </label>
      <br><br>
      <mat-form-field appearance="fill" class="width-25 signup-mat-form-field">
        <mat-label>Ngày</mat-label>
        <mat-select formControlName="day">
          <mat-option [value]="i" *ngFor="let i of DAYS">
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width-25 ml-1">
        <mat-label>Tháng</mat-label>
        <!--          <input name="month" required matInput [type]="'number'" formControlName="day">-->
        <mat-select (valueChange)="getDays($event, 'month')" formControlName="month">
          <mat-option [value]="i" *ngFor="let i of MONTHS">
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width-25 ml-1">
        <mat-label>Year</mat-label>
        <mat-select (valueChange)="getDays($event, 'year')" formControlName="year">
          <mat-option [value]="i" *ngFor="let i of YEARS">
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <label id="example-radio-group-label3">Lớp: </label>
      <br>
      <mat-form-field appearance="fill" class="width-25 signup-mat-form-field">
        <mat-select formControlName="class">
          <mat-option [value]="i" *ngFor="let i of CLASSES">
            {{i}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="width-100 signup-mat-form-field">
      <button mat-raised-button color="primary" >Đăng ký</button>
      <mat-error *ngIf="signupErrorMessage">{{signupErrorMessage}}</mat-error>
    </mat-card-actions>


  </mat-card>
</form>
